[Unit]
Description=sleepi2 gpio heartbeat
DefaultDependencies=no
After=sysinit.target

[Service]
Type=simple
EnvironmentFile=/etc/default/sleepi2
Environment=GPIO_PATH=/sys/class/gpio/gpio${HEARTBEAT_PIN}
ExecStartPre=/bin/sh -c '[ -e ${GPIO_PATH}/direction ] || { echo ${HEARTBEAT_PIN} > /sys/class/gpio/export; sleep 1; } && echo "out" > ${GPIO_PATH}/direction'
ExecStart=/bin/sh -c 'while true; do for i in `seq 2`; do echo 0 > ${GPIO_PATH}/value; sleep 0.1; echo 1 > ${GPIO_PATH}/value; sleep 0.1; done; sleep 0.6; done'
TimeoutSec=90s
Restart=always

[Install]
WantedBy=sysinit.target
