[Unit]
Description=sleepi2 software heartbeat
DefaultDependencies=no
After=sysinit.target

[Service]
Type=simple
Nice=19
OOMScoreAdjust=1000
Environment=LED_PATH=/sys/class/leds/sleepi:led0
ExecStart=/usr/lib/sleepi2-utils/heartbeat.sh

[Install]
WantedBy=sysinit.target
