Source: sleepi2-utils
Section: admin
Priority: optional
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 12), bash-completion
Standards-Version: 4.3.0
Vcs-Git: https://github.com/mechatrax/sleepi2-utils.git
Vcs-browser: https://github.com/mechatrax/sleepi2-utils
Homepage: https://www.mechatrax.com/

Package: sleepi2-utils
Architecture: all
Depends: ${misc:Depends}, sleepi2-firmware (>= 1.1), python3-sleepi, python3
Conflicts: fake-hwclock, sleepi-utils
Description: Utilities for slee-Pi 2
 This package contains command utilities to control slee-Pi 2.
